/***********
    Mixin
***********/
/* Breakpoints */
@mixin media ($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) { @content; }
  }
  @else if $breakpoint == desktop {
    @media screen and (min-width: 1024px) { @content; }
  }
}

/***********
    Footer
***********/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 75px 0 20px 0;
  width: 100%;
  color: #fff;
  background-color: rgb(35, 46, 57);
  &__container {
    width: 90%;
    &-subnav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-bottom: 30px;
      &--logo {
        padding: 0 20px 20px 20px;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        color: #fff;
        @include media (desktop) {
          padding-bottom: 0;
        }
      }
      &--address {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px 20px 20px;
        span {
          padding-right: 20px;
          width: 30px;
          height: 30px;
          background-image: url('../../img/icons/bx-location-plus.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        p {
          font-size: .9rem;
          font-weight: 400;
          @include media (desktop) {
            padding-bottom: 0;
          }
        }
        @include media (desktop) {
          padding-bottom: 0;
        }
      }
      &--email {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px 20px 20px;
        span {
          padding-right: 20px;
          width: 30px;
          height: 30px;
          background-image: url('../../img/icons/bx-envelope.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        p {
          font-size: .9rem;
          font-weight: 400;
        }
        @include media (desktop) {
          padding-bottom: 0;
        }
      }
      &--button {
        padding: 10px 15px;
        font-size: .75rem;
        font-weight: 400;
        text-decoration: none;
        border: 1px solid #f5f5f5;
        cursor: pointer;
        transition: all .35s;
        color: rgb(35, 46, 57);
        background-color: #f5f5f5;
        &:hover {
          transition: all .35s;
          color: #f5f5f5;
          background-color: rgb(35, 46, 57);
        }
      }
    }
    &-copyright {
      border-top: 1px solid rgba(255, 255, 255, .1);
    }

    &-copyright {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 30px;
      &--text {
        margin: 0;
        padding-right: 20px;
        font-size: .9rem;
        font-weight: 400;
        text-decoration: none;
        color: #f5f5f5;
        &:hover {
          color: #ff7f50;
        }
        a {
          text-decoration: none;
          color: #ff7f50;
          &:hover {
            color: #f5f5f5;
          }
        }
      }
    }

    @include media (desktop) {
      max-width: 1024px;
      &-subnav {
        justify-content: space-between;
      }
    }
  }
}